<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'sistema_hospicio' %}">Voltar</a>
      </nav>
      
    <h1>Fornecedores</h1>
    <p>
        <a href="{% url 'cadastrar_fornecedor' %}">Cadastrar</a>
    </p>
    <p>Listagem de Fornecedores: </p>

    {% for fornecedor in todos_fornecedores %}
    <div>
        <p>Nome: {{ fornecedor.nome }}</p>
        <p>Produtos: {{ fornecedor.produtos }}</p>
        <p>CNPJ: {{ fornecedor.cnpj }}</p>
        <p>Localidade: {{ fornecedor.localidade }}</p>

        <a href="{% url 'editar_fornecedor' fornecedor.id %}">EDITAR</a>
        |
        <a href="{% url 'remover_fornecedor' fornecedor.id %}">REMOVER</a>
        <p>____________________________________________________________________</p>
  
    </div>
    {% empty %}
    <div>
        <p>Não existem fornecedores cadastrados</p>
    </div>
    {% endfor %}
</body>
</html>