<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Médico</title>
</head>
<body>
    <h1>Cadastro de Médico</h1>

    <form method="post" enctype="multipart/form-data" accept=".png, .jpg">
        {% csrf_token %}
        {{ form_medico }}
        <p>
            <input type="submit" value="Cadastrar">
        </p>
    </form>
</body>
</html>