.forma{
    border-radius: 5px;
    padding-left: 100px;
}

div{
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
}
h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}
.botoes{
    margin: 10px;
    
}
.texto{
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: lightcyan;
}
nav{
    background-color: silver;
}

.formaNome{
    text-decoration: underline;
    text-align: center;
}
.cartao{
    justify-content: center;
    border: 5px double;
}